<div>
    <header>
        <h1>Product manager</h1>
        <p>Bienvenido {{user.first_name}}!</p>
        <a href="/api/sessions/logout"><button>Salir de la sesion</button></a>
        <a href="/profile"><button>Mi Perfil</button></a>
    </header>

    <div class="container">
        {{#if products }}
            {{#each products}}
            <div class="prodBox">
                <div><span>ID: </span><p>{{_id}}</p></div>
                <div><span>Nombre: </span><p>{{title}}</p></div>
                <div><span>Precio: </span><p>{{price}}</p></div>
                <div><span>Descripcion: </span><p>{{description}}</p></div>
                <div><span>Thumbnails: </span><p>{{thumbnails}}</p></div>
                <div><span>Status: </span><p>{{status}}</p></div>
                <div><span>Stock: </span><p>{{stock}}</p></div>

                <button>Agregar al Carrito</button>
               
                <button><a href="/products/{{_id}}">Ver detalle</a></button>
            </div>  
            {{/each}}
        {{/if}}
    </div>
    <div>
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </div>
</div>