<div>
    <nav>
        <h1>Perfil de: {{user.first_name}}</h1>
        <a href="/api/sessions/logout"><button>Salir de la sesion</button></a>
    </nav>
    <div>
        <p>Codigo del Carrito Actual: {{cartsCode}}</p>
       
        {{#if listOfProducts}}
            {{#each listOfProducts}}
                <div> 
                    <div><span>ID: </span><p>{{{pId._id}}}</p></div>
                    <div><span>Nombre: </span><p>{{pId.title}}</p></div>
                    <div><span>Precio: </span><p>{{{pId.price}}}</p></div>
                    <div><span>Cantidad: </span><p>{{quantity}}</p></div>
                </div>
            {{/each}}
        {{else}}
            <div>
                <p>EL carrito se encuentra vacio</p>
                <a href="/products">Ver Productos</a>
            </div>
        {{/if}}
    </div>
</div>