<div>
    <nav>
        <h1>Perfil de: {{user.first_name}}</h1>
        <a href="/api/sessions/logout"><button>Salir de la sesion</button></a>
    </nav>
    <div>
        <p>Codigo del Carrito Actual: {{cartsCode}}</p>
       
        {{#if cart.products}}
            {{#each cart.products}}
                <div> 
                    <div><span>ID: </span><p>{{_id}}</p></div>
                    <div><span>Nombre: </span><p>{{title}}</p></div>
                    <div><span>Precio: </span><p>{{price}}</p></div>
                </div>
            {{/each}}
        {{else}}
            <div>
            <p>EL carrito se encuentra vacio</p>
                <a href="/products">Ver Productos</a>
            </div>

        {{/if}}
    </div>
</div>