<div>
   <header>
        <h1>Detalle del producto{{_id}}</h1>
    </header>

    <div class="container">

        <div class="prodBox">
            <div><span>ID: </span><p>{{this._id}}</p></div>
            <div><span>Nombre: </span><p>{{this.title}}</p></div>
            <div><span>Precio: </span><p>{{product.price}}</p></div>
            <div><span>Descripcion: </span><p>{{product.description}}</p></div>                <div><span>Thumbnails: </span><p>{{product.thumbnail}}</p></div>
            <div><span>Status: </span><p>{{product.status}}</p></div>
            <div><span>Stock: </span><p>{{product.stock}}</p>
        </div>  
    </div>
</div>